---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <LandingHeader />
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <HeroSection />
    </div>
  </main>
</Layout>
