---
import { type Pictures, type Picture } from "../types/image";
const data = await fetch("https://picsum.photos/v2/list");

const photos = (await data.json()) as Picture[];
console.log(photos);
---

<section
  class="landing-section bg-black h-screen w-screen overflow-hidden relative"
  data-header-color="white"
>
  <div class="z-30 relative text-center">
    <h2 class="text-white pt-20 ml-8 text-[40px] font-medium">Galeria</h2>
    <p class="text-white text-lg ml-8 mt-4">
      Conocenos por nuestros resultados.
    </p>
  </div>
  <div class="z-30 relative items-center mt-20 lg:mt-40 m-24">
    <div class="bg-transparent">
      <div class="flex overflow-x-auto scroll-snap-type-x-mandatory carousel w-full">
        {
          photos?.map((image) => (
            <div class="flex-shrink-0 w-72 scroll-snap-align-start mr-4">
              <img
                src={image.download_url}
                alt={image.author}
                class="w-full h-80  rounded-lg shadow-lg mb-4 hover:scale-110 transition duration-500 cursor-pointer object-cover"
              />
              <p class="text-lg font-semibold">{image.author}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img class="object-center object-cover w-full h-full" src="./black_wall.jpg" />
  </div>
</section>
